<header class="w-full flex items-center justify-center flex-col gap-5 py-5 text-center">
    <h1 class="text-4xl sm:text-5xl font-extrabold text-gray-800 ">Grabar tu <span class="text-gray-500">Pantalla</span></h1>
    <p class="text-base text-gray-500 text-wrap">Comparte con otros el contenido de tu pantalla con un solo click</p>
</header>